@font-face {
  font-family: "archvio";
  src: url(../font/Archivo-Italic-VariableFont_wdth\,wght.ttf);
  src: url(../font/Archivo-VariableFont_wdth\,wght.ttf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  align-items: center;
}
nav {
  display: flex;
}
a {
  text-decoration: none;
  font-family: archvio;
}
header {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downloadbtn {
  margin-left: 24px;
  height: 52px;
  max-width: 188px;
}
header div {
  display: flex;
  justify-content: space-between;
}

.socialicons img {
  height: 50px;
  width: 50px;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider img {
  width: 538px;
  height: 617px;
  display: none;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.7s;
}
@keyframes fade {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
.imgandsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}
.introducing {
  max-width: 718px;
}
.servicedescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.graphiccards {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.graphiccards img {
  max-width: 330px;
  height: 346px;
  border-radius: 20px;
  border: 2px solid black;
}
.projectinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.buttonflex {
  display: flex;
  justify-content: center;
  column-gap: 22px;
  margin-top: 59px;
  margin-bottom: 108px;
}
.protfolio-container img {
  max-width: 445px;
  height: 489px;
}
.protfolio-container {
  display: flex;
  justify-content: space-between;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mytestamonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introducing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testimonial img {
  max-width: 235px;
  min-height: 235px;
  border-radius: 50%;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1087px;
  height: 344px;
  background-color: rgba(248, 248, 248, 1);
  border: 2px solid black;
  display: none;
}
.testimonial.active {
  display: flex;
}
.impression {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pagination {
  display: flex;
  justify-content: center;
  row-gap: 9px;
  border-radius: 8px;
}
.dot {
  margin-top: 87px;
  width: 57px;
  height: 16px;
  background-color: rgba(217, 217, 217, 1);
  cursor: pointer;
  transition: background 0.5s ease;
  border: 2px solid black;
}
.dot.active {
  background: rgba(253, 111, 0, 1);
}

.inputgroup {
  display: flex;
  column-gap: 28px;
  align-items: center;
  justify-content: center;
}
#contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 41px;
}
.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactustitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textareastyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message {
  width: 992px;
  height: 116px;
  border-radius: 14px;
}
#name,
#email,
#website {
  width: 312px;
  height: 76px;
  border-radius: 14px;
}
.submitbtn {
  margin-top: 32px;
  width: 312px;
  height: 76px;
  background-color: rgba(253, 111, 0, 1);
  border-radius: 14px;
  border-style: none;
  margin-bottom: 54px;
}
#successModal {
  /* display: flex;
  align-items: center;
  justify-content: center;
  align-self: center; */
  margin-top: 15px;
  /* height: 37px; */
  font-family: archvio;
  background-color: rgba(253, 111, 0, 1);
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 7px;
}
footer {
  margin-top: 130px;
  margin-bottom: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer nav {
  display: flex;
  column-gap: 26px;
}
.footerimg {
  margin-top: 80px;
  margin-bottom: 62px;
  /* width: 32px;
  height: 32px; */
  background-color: rgba(30, 30, 30, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerimg img {
  width: 32px;
  height: 32px;
}
