@font-face {
  font-family: "archvio";
  src: url(../font/Archivo-Italic-VariableFont_wdth\,wght.ttf);
  src: url(../font/Archivo-VariableFont_wdth\,wght.ttf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background-color: rgba(30, 30, 30, 1);
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 26px;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  font-family: archvio;
  color: rgba(255, 255, 255, 1);
}
header {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downloadbtn {
  margin-left: 24px;

  background-color: rgba(253, 111, 0, 1);
  width: 188px;
  height: 52px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
header div {
  display: flex;
  justify-content: space-between;
}
.socialiconsnone {
  display: none;
}
.socialicons {
  margin-top: 36px;
  display: flex;
  column-gap: 25px;
}
.socialicons img {
  height: 32px;
  width: 32px;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slides img {
  max-width: 100%;
  border-radius: 20px;
  height: 617px;
  display: none;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.7s;
}
@keyframes fade {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
.imgandsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.introducingg {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  font-family: archvio;
  max-width: 698px;
}
.introleft {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  font-family: archvio;
}
.strongleftp {
  font-weight: 700;
  font-size: 70px;
  color: rgba(255, 255, 255, 1);
}
.hi {
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.namesurename {
  font-weight: 600;
  font-size: 32px;
  color: rgba(253, 111, 0, 1);
}
.introright {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: archvio;
  font-weight: 700;
  font-size: 70px;
  color: rgba(255, 255, 255, 1);
}
.hiremebtn {
  width: 188px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: rgba(253, 111, 0, 1);
  margin-top: 22px;
  cursor: pointer;
}
.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin-top: 70px;
  flex-wrap: wrap;
}
.aboutme img {
  /* width: 100%; */
  max-height: 690px;
}
h2 {
  font-family: archvio;
  font-weight: 600;
  font-size: 65px;
}
.aboutmeintro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 1);
}
label {
  color: rgba(255, 255, 255, 1);
  font-family: archvio;
  font-weight: 600;
}
.introtext {
  color: rgba(255, 255, 255, 1);
}
.progbarintro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 753px;
}
.progressbars {
  display: flex;
  flex-direction: column;
}
span {
  color: rgba(253, 111, 0, 1);
  max-width: 18px;
  font-weight: bolder;
  font-family: 32px;
}
input {
  max-width: 753px;
  height: 12px;
  border-radius: 6px;
}
.progressbars input {
  margin-top: 18px;
  margin-bottom: 25px;
  pointer-events: none;
}
.progressbars input[type="range"]::after {
  color: #ff6600;
  background-color: #ff6600;
  background: rgba(248, 248, 248, 1);
}
.progressbars input[type="range"] {
  appearance: none;
  height: 12px;
  border-radius: 3px;
  background: #e0e0e0;
}
/* #html {
  background: linear-gradient(to right, #ff6600 85%, #e0e0e0 85%);
}

#css {
  background: linear-gradient(to right, #ff6600 82%, #e0e0e0 82%);
}

#js {
  background: linear-gradient(to right, #ff6600 71%, #e0e0e0 71%);
}

#timemanagment {
  background: linear-gradient(to right, #ff6600 95%, #e0e0e0 95%);
} */
@layer demo {
  @supports (timeline-scope: --foo) {
    input[type="range"] {
      appearance: none;
      background: none;
      inline-size: 75vw;

      animation: --range-observer linear reverse;

      animation-timeline: --range-thumb;

      timeline-scope: --range-thumb;

      &::-webkit-slider-thumb {
        view-timeline: --range-thumb inline;
      }

      &::-webkit-slider-runnable-track {
        overflow-x: auto;

        background: linear-gradient(
          to right in oklab,
          rgba(253, 111, 0, 1),
          rgba(253, 111, 0, 1) var(--range-value, 50%),
          oklch(from oklch(99.557% 0.0021 14.222 / 0) calc(l * 0.5) c h) 0
        );
      }
    }
  }

  @property --range-value {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
  }

  @keyframes --range-observer {
    to {
      --range-value: 100%;
    }
  }

  input[type="range"] {
    --size: 24px;

    &::-webkit-slider-thumb {
      appearance: none;
      cursor: pointer;
      width: var(--size);
      height: var(--size);
      /* border-radius: 1e3px; */
      background-color: white;
    }

    &::-webkit-slider-runnable-track {
      background-size: 100% calc(var(--size) / 3);
      background-position-y: calc(var(--size) / 4);
      background-repeat: no-repeat;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 1e3px;
      background-color: rgba(253, 111, 0, 1);
    }
  }
}

@supports (timeline-scope: --foo) {
  body::after {
    content: "Using Scroll-driven animations";
  }
}
.progressbars input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #ff6600;
  cursor: pointer;
}
.Services {
  margin-top: 139px;
  margin-bottom: 139px;
  color: rgba(255, 255, 255, 1);
}
.servicetext {
  max-width: 933px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.servicedescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 50px;
}
.graphiccards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
  row-gap: 31px;
}
.graphiccards img {
  max-width: 330px;
  height: 346px;
  border-radius: 20px;
  border: 2px solid black;
}
.projectinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  color: rgba(255, 255, 255, 1);
}
.card h3 {
  color: rgba(253, 111, 0, 1);
  height: 29px;
  font-weight: 400;
}
.card p {
  color: rgba(255, 255, 255, 1);
  height: 36px;
  font-weight: 700;
}
.buttonflex {
  display: flex;
  justify-content: center;
  column-gap: 22px;
  margin-top: 59px;
  margin-bottom: 106px;
}
#allbtn {
  height: 56px;
  width: 76px;
  border-radius: 12px;
  border: none;
}
#htmlbtn {
  height: 56px;
  width: 76px;
  border-radius: 12px;
  border: none;
}
#cssbtn {
  height: 56px;
  width: 76px;
  border-radius: 12px;
  border: none;
}
#jsbtn {
  height: 56px;
  width: 76px;
  border-radius: 12px;
  border: none;
}

.filter-btn.active {
  background-color: rgba(253, 111, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-color: rgba(253, 111, 0, 1);
}
.protfolio-container img {
  max-width: 445px;
  height: 489px;
}
.protfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 44px;
}
.testimonials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mytestamonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 139px;
}
.introducing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  row-gap: 30px;
  margin-bottom: 72px;
  color: rgba(255, 255, 255, 1);
}
.introducing h3 {
  font-family: archvio;
  font-size: 65px;
  font-weight: 600;
}
.testimonial img {
  max-width: 235px;
  min-height: 235px;
  border-radius: 100px;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1087px;
  height: 344px;
  background-color: rgba(248, 248, 248, 1);
  border: 2px solid black;
  display: none;
}
.testimonial.active {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;

  align-items: center;
  align-content: center;
  padding-left: 48px;
  padding-right: 48px;
}
#testimonial-text {
  max-width: 658px;
}

.impression {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 17px;
}
.pagination {
  display: flex;
  justify-content: center;
  column-gap: 9px;
  margin-bottom: 90px;
}
.dot {
  margin-top: 87px;
  width: 57px;
  height: 16px;
  background-color: rgba(217, 217, 217, 1);
  cursor: pointer;
  transition: background 0.5s ease;
  border: 2px solid black;
  border-radius: 8px;
  border: none;
}
.dot.active {
  background: rgba(253, 111, 0, 1);
}

.inputgroup {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  align-items: center;
  justify-content: center;
}
#contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 41px;
}
.contactus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactustitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 1);
}
.textareastyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message {
  width: 992px;
  height: 116px;
  border-radius: 14px;
}
#name,
#email,
#website {
  width: 312px;
  height: 76px;
  border-radius: 14px;
}
.submitbtn {
  margin-top: 32px;
  width: 312px;
  height: 76px;
  background-color: rgba(253, 111, 0, 1);
  border-radius: 14px;
  border-style: none;
  margin-bottom: 54px;
  cursor: pointer;
}
#successModal {
  /* display: flex;
  align-items: center;
  justify-content: center;
  align-self: center; */
  margin-top: 15px;
  /* height: 37px; */
  font-family: archvio;
  background-color: rgba(253, 111, 0, 1);
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 7px;
}
footer {
  margin-top: 130px;
  margin-bottom: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer nav {
  display: flex;
  column-gap: 26px;
}
.footerimg {
  margin-top: 80px;
  margin-bottom: 62px;
  /* width: 32px;
  height: 32px; */
  background-color: rgba(30, 30, 30, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerimg img {
  width: 32px;
  height: 32px;
}

/* 1511515? */

/* .progressbars input[type="range"] {
  pointer-events: none;
} */
@media (375px >= width), (980px >= width) {
  .container {
    max-width: 344px;
    margin: 0 auto;
    padding: 4px;
  }
  .slides img {
    max-width: 365px;
    height: 450px;
    margin-bottom: 40px;
  }
  .Services {
    margin: 0, auto;
  }
  .servicetext {
    max-width: 347px;
  }
  .testimonial.active {
    max-width: 347px;
    height: 600px;
  }
  .testimonial {
    max-width: 347px;
    height: 600px;
  }
  .aboutme img {
    display: none;
  }
  .card img {
    /* width: 100%; */
    max-width: 347px;
  }
  .aboutmeintro h2 {
    margin-bottom: 40px;
  }
  .introducing h3,
  h2 {
    display: flex;
    align-self: flex-start;
    font-family: archvio;
    font-size: 54px;
    font-weight: 300;
  }
  .progressbars input {
    width: 347px;
  }
  #ceo-img {
    max-width: 125px;
    max-height: 125px;
  }
  .textareastyle,
  #message {
    width: 312px;
  }
  .inputgroup {
    row-gap: 27px;
  }
  .navdiv {
    display: none;
  }
  ul {
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 24px;
  }
  .socialiconsnone {
    margin-top: 36px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
  }
  .socialicons {
    display: none;
  }
  .introtext,
  .hiremebtn {
    display: none;
  }
}
